# Tag of the rancher/server image to run
# $version = 'latest'

# IP prefix to use
# $ip_prefix = '192.168.33'

# Boxes to run in the vagrant environment
$boxes = [
    {
      "name" => "rancher-server",
      "server" => true,
      "memory" => "1536",
      "labels" => [],
    },
    {
      "name" => "rancher-general",
      "count" => 2,
      "memory" => "512",
      "labels" => ["type=general"]
    },
]
